#------------------------------------------------------------------------------
#                  Harvard-NASA Emissions Component (HEMCO)                   !
#------------------------------------------------------------------------------
#BOP
#
# !ROUTINE: hemcoDataDownload.rc
#
# !DESCRIPTION: Configuration file for the HEMCO_Data_Download script.  This
#  file is where you specify which HEMCO data directories that you would like 
#  0to download.
#\\
#\\
# !REMARKS:
#  For more information about each of these data sets, please see:
#  http://wiki.geos-chem.org/HEMCO_data_directories
#
#  To omit a data set from being downloaded, either preface it with a
#  comment symbol "#" or move it to the section titled "THE FOLLOWING DATA
#  WILL NOT BE DOWNLOADED."
#
# !REVISION HISTORY:
#  06 Feb 2015 - R. Yantosca - Initial version
#  12 Feb 2015 - R. Yantosca - Added TIMEZONES; reorganized listing a bit
#  17 Feb 2015 - R. Yantosca - Add Liang et al Bromocarbon species
#  17 Feb 2015 - R. Yantosca - Group stratosphere and Bromine data together
#  19 Feb 2015 - R. Yantosca - Now include EDGARv42, new PARANOX data
#  25 Feb 2015 - R. Yantosca - Now include new MEGAN data directory
#  04 Mar 2015 - R. Yantosca - Added UV surface albedoes; reordered listing
#  05 Mar 2015 - R. Yantosca - Now read eruptive & degassing volcano data
#  11 Mar 2015 - R. Yantosca - Add MIX and HTAP data
#  17 Mar 2015 - R. Yantosca - Add TOMS/SBUV and GFED4 data
#  17 Mar 2015 - R. Yantosca - Add CHLA data
#  01 Apr 2015 - R. Yantosca - Now get data in EMEP/v2015-03 by default
#  01 Apr 2015 - R. Yantosca - Now get NEI2011_ag_only/v2015-03
#  21 Apr 2015 - R. Yantosca - Now get AEIC/v2015-01 and CO2/v2015-04
#  21 Apr 2015 - R. Yantosca - Now get NEI2011/v2015-03 instead of v2015-02
#  28 Apr 2015 - R. Yantosca - Now get COUNTRY_ID/v2015-04 
#  05 Jun 2015 - R. Yantosca - Now get the officially-released GFED4 data
#                              product in GFED4/v2015-06
#  02 Dec 2016 - R. Yantosca - Added new directories for v11-01
#  22 Jun 2018 - R. Yantosca - Added new directories for GC v11-02-rc / GC 12
#  02 Jul 2018 - R. Yantosca - Further updates for v11-02-final/12.0.0
#EOP
#------------------------------------------------------------------------------
#BOC

###############################################################################
#                                                                             #
#  Specify the remote and local HEMCO data paths, plus other options.         #
#                                                                             #
###############################################################################

Remote HEMCO data path | ftp://ftp.as.harvard.edu/gcgrid/data/ExtData/HEMCO
Your HEMCO data path   | /as/scratch/bmy/HEMCO
Verbose output         | yes
Dryrun only?           | no


###############################################################################
#                                                                             #
#  THE FOLLOWING DATA DIRECTORIES WILL BE DOWNLOADED.                         #
#                                                                             #
#  These data directories comprise the recommended emissions configuration    #
#  for typical GEOS-Chem full-chemistry and specialty simulations.            #
#                                                                             #
#  NOTE: In most cases, you only have to specify the top-level folder.        #
#  All subfolders will be downloaded automatically.                           #
#                                                                             #
###############################################################################

#=============================+================================================
# AEROSOLS                    | Directory paths
#=============================+================================================
AEROCOM volcano emissions     | $ROOT/VOLCANO/v2015-02
Bond et al BC/OC              | $ROOT/BCOC_BOND/v2014-07
Secondary organic aerosols    | $ROOT/SOA/v2014-07
Spatially varying OM/OC ratios| $ROOT/OMOC/v2018-01

#=============================+================================================
# ANTHROPOGENIC + BIOFUELS    | Directory paths
#
# NOTE: Some sectors of EDGARv43 are used with DICE-Africa, so we have
# arranged for EDGARv43 to be downloaded by default below. (bmy, 7/19/18)
#=============================+================================================
CEDS global anthro            | $ROOT/CEDS/v2018-04
C2H6_2010 global emissions    | $ROOT/C2H6_2010/v2017-05
DICE-Africa anthro            | $ROOT/DICE_Africa/v2016-10
EDGAR v4.3 anthro             | $ROOT/EDGARv43/v2016-11
GEIA global anthro            | $ROOT/GEIA/v2014-07
GEIA NH3                      | $ROOT/NH3/v2014-07
RETRO VOC emissions           | $ROOT/RETRO/v2014-07/orig_kgC
POET EOH emissions            | $ROOT/POET/v2017-03
Yevich & Logan biofuels       | $ROOT/BIOFUEL/v2014-07
BRAVO regional anthro         | $ROOT/BRAVO/v2014-07
EMEP regional anthro          | $ROOT/EMEP/v2015-03
MASAGE agricultural NH3       | $ROOT/MASAGE_NH3/v2015-02
MIX regional anthro           | $ROOT/MIX/v2015-03
NEI2005 regional anthro/biof  | $ROOT/NEI2005/v2014-09
NEI2005/VISTAS scale factors  | $ROOT/VISTAS/v2014-07
NEI2011 regional anthro/biof  | $ROOT/NEI2011/v2015-03
NEI2011 agric. emissions only | $ROOT/NEI2011_ag_only/v2015-03
Trash burning emissions       | $ROOT/TrashEmis/v2015-03

#=============================+================================================
# ANTHRO AIRCRAFT + SHIPS     | Directory paths
#
# NOTE: EMEP ship emissions are a subset of the EMEP anthro folder above.
#=============================+================================================
AEIC aircraft                 | $ROOT/AEIC/v2015-01
ARCTAS ship                   | $ROOT/ARCTAS_SHIP/v2014-07
Corbett ship                  | $ROOT/CORBETT_SHIP/v2014-07
ICOADS ship                   | $ROOT/ICOADS_SHIP/v2014-07

#=============================+================================================
# BIOMASS                     | Directory paths
#=============================+================================================
GFED4 biomass                 | $ROOT/GFED4/v2015-10

#=============================+================================================
# Halogen emissions           | Directory paths
#=============================+================================================
Liang et al VSL emissions     | $ROOT/BROMINE/v2015-02
Ordonez et al Iodine emissions| $ROOT/IODINE/v2017-03

#=============================+================================================
# Natural emissions           | Directory paths
#=============================+================================================
NH3 from arctic sea birds     | $ROOT/NH3/v2018-04

#=============================+================================================
# EMISSIONS via EXTENSIONS    | Directory paths
#=============================+================================================
Acetone ocean exchange        | $ROOT/ACET/v2014-07
DEAD dust model               | $ROOT/DUST_DEAD/v2014-07
DMS ocean exchange            | $ROOT/DMS/v2015-07
GINOUX dust model             | $ROOT/DUST_GINOUX/v2014-07
MEGAN biogenic emissions #1   | $ROOT/MEGAN/v2017-07
MEGAN biogenic emissions #2   | $ROOT/MEGAN/v2018-05
NO from lightning             | $ROOT/LIGHTNOX/v2017-09
NO from soils/fertilizers     | $ROOT/SOILNOX/v2014-07
PARANOX ship plume model      | $ROOT/PARANOX/v2015-02

#=============================+================================================
# FUTURE & HISTORICAL EMISS.  | Directory paths
#=============================+================================================
APEI historical Canadian emiss| $ROOT/APEI/v2016-11
RCP future scenarios          | $ROOT/RCP/v2015-02

#=============================+================================================
# G-C SPECIALTY SIMULATIONS   | Directory paths
#=============================+================================================
Aerosol-only simulation       | $ROOT/OFFLINE_AEROSOL/v2014-09
CH4 simulation                | $ROOT/CH4/v2014-09
CO2 simulation                | $ROOT/CO2/v2015-04
Mercury simulation            | $ROOT/MERCURY/v2014-09
Mercury simulation            | $ROOT/MERCURY/v2018-04
POPs simulation               | $ROOT/POPs/v2015-08
Tagged CO simulation          | $ROOT/TAGGED_CO/v2017-04
Tagged O3 simulation          | $ROOT/TAGGED_O3/v2014-09
Chlorophyll A                 | $ROOT/CHLA/v2014-07
O3 for offline simulations    | $ROOT/O3/v2014-09
OH for offline simulations    | $ROOT/OH/v2014-09
H2O2 for offline simulations  | $ROOT/OXIDANTS/v2014-07

#=============================+================================================
# NON-EMISSIONS DATA          | Directory paths
#=============================+================================================
GMI strat chem mechanism      | $ROOT/GMI/v2015-02
Stratospheric Bry from CCM    | $ROOT/STRAT/v2015-01/Bry
Timezone offsets from UTC     | $ROOT/TIMEZONES/v2015-02
TOMS/SBUV O3 columns          | $ROOT/TOMS_SBUV/v2016-11
UCX chemistry mechanism       | $ROOT/UCX/v2018-02
UV surface albedoes           | $ROOT/UVALBEDO/v2015-03

#=============================+================================================
# OTHER INPUTS FOR HEMCO      | Directory paths
#=============================+================================================
Annual scale factors          | $ROOT/AnnualScalar/v2014-07
Mask files                    | $ROOT/MASKS/v2014-07
MAP_A2A regridding data       | $ROOT/MAP_A2A/v2014-07
Country ID's (ISO ALPHA-3)    | $ROOT/COUNTRY_ID/v2015-04

###############################################################################
#                                                                             #
#  THE FOLLOWING DATA DIRECTORIES WILL NOT BE DOWNLOADED.                     #
#                                                                             #
#  These data directories contain are optional emissions inventories that     #
#  are not used in typical GEOS-Chem simulations.  If you wish to download    #
#  any of these inventories, simply move the corresponding entry for each     #
#  inventory to the previous section.                                         #
#                                                                             #
###############################################################################

Cooke et al BC/OC             | $ROOT/BCOC_COOKE/v2014-07
Duncan et al biomass          | $ROOT/BIOBURN/v2014-07
CH3I simulation (obsolete)    | $ROOT/CH3I/v2014-07
AFCID anthro PM2.5            | $ROOT/DUST_DEAD/v2018-04
EDGAR v3 global anthro        | $ROOT/EDGAR/v2014-07
FINN v1.5 biomass             | $ROOT/FINN/v2014-07
GFED2 biomass                 | $ROOT/GFED2/v2014-07
GFED3 biomass                 | $ROOT/GFED3/v2014-10
HTAP anthro + biofuel         | $ROOT/HTAP/v2015-03
MACCITY anthro                | $ROOT/MACCITY/v2014-07
MASAGE agricultural NH3       | $ROOT/MASAGE_NH3/v2015-02
MEGAN biogenic emissions      | $ROOT/MEGAN/v2015-02
NEI1999 regional anthro 1     | $ROOT/NEI99/200411
NEI1999 regional anthro 2     | $ROOT/NEI99/200708
NEI1999 regional anthro 3     | $ROOT/NEI99/200806
NEI2008 regional anthro/biof  | $ROOT/NEI2008/v2015-02
QFED biomass                  | $ROOT/QFED/v2018-07
QFED biomass                  | $ROOT/QFED/v2014-09
Streets regional anthro       | $ROOT/STREETS/v2014-07
Tagged CO simulation          | $ROOT/TAGGED_CO/v2014-08
TNO inventory                 | $ROOT/TNO/
Weekly scale factors          | $ROOT/WEEKSCALE/v2014-07
Yaping Xiao C2H6 and C3H8     | $ROOT/XIAO/v2014-09

#EOC